.contactUs {
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    min-height: 90vh;
    height: 100%;
    gap: 5rem;
}

.contactImage img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.contactForm {
    max-width: 700px;
    width: 100%;
    margin-inline: auto;
}

.contactForm h1 {
    padding-block: 10px;
    font-size: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textField {
    margin-bottom: 1rem;
    width: 100%;
}

.contactBtn {
    width: fit-content;
    /* Adjusted for better responsiveness */
    align-self: flex-start;
    /* Align button to start of form */
}

.contactDetails {
    padding-block: 20px;
    padding-inline: 20px;
}

@media screen and (max-width: 768px) {
    .contactUs {
        flex-direction: column;
    }

    .form {
        width: 100%;
    }

    .contactBtn {
        width: 100%;
        /* Button width full on smaller screens */
    }
}